/* Selector */

*{
    padding: 0 auto;
    margin: 0 auto;

}

/* Selector de ID */


#contenedor{
    width: 1200px;
    height: 1470px;
    background-color: #380b5f;
    max-width: 0 auto;
}

#encabezado{
    height: 10%;
    background-color: #511386;
    max-width: lem auto;

}

#menu{
    height: 3%;
    background-color: #6a23a8;
    margin-top: lem 50%;
    
}

#seccion{
    width: 78%;
    height: 80%;
    background-color: #7f36be;
    border-top-left-radius: 10%;
    border-end-end-radius: 10%;
    margin: 0.5cm;
    float: left;
}

#FueraSeccion{
    width: 15%;
    height: 80%;
    background-color: #7f36be;
    border-top-right-radius: 1cm;
    border-end-start-radius: 1cm;
    margin: 0.5cm;
    float: right;
}

#pie{
    width: 89%;
    height: 10%;
    background-color: #ae6de7;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: center;    
    text-align: center;
    font-family: 'Century Gothic';
}

/* Selector de class */

.texto{
    text-align: justify;
    font-family: 'Century Gothic';
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2%;
}

.texto_Pie{
    text-align: justify;
    font-family: 'Century Gothic';
    font-size: medium;
    text-align: center;
}

.texto_Encabesado{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 50px;
}

.encabezado_articulos{
    text-align: center;
    background: rgb(111, 25, 133);
    color: black;
    font-family: 'Century Gothic';
    margin: auto 2em;
    margin-top: 2%;
    border-radius: 50%;
}

.imagenes{
    display: block;
    margin: center;
    width: 230px;
}

.imagenes2{
    display: block;
    margin: center;
    width: 340px;
}

.imagenes3{
    display: block;
    margin: center;
    width: 285px;
}

.texto_Lista2{
    float:left;
    padding:10px 7px;
    font: size 50%;
    text-align: left;
}


/* selector de etiquetas*/

ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    float: center;
    padding:0 15px;
    font-size: 23px;
    font-family: 'Century Gothic';
}

